/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o cabeçalho */
header {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#logo {
    width: 150px;
    height: auto;
}

/* Estilos para o menu de navegação */
.nav-menu {
    list-style: none;
    display: flex;
}

.nav-menu li {
    margin-left: 20px;
}

.nav-menu li:first-child {
    margin-left: 0;
}

.nav-menu a {
    text-decoration: none;
    color: #333333;
}

/* Estilos para as seções */
.home {
    padding: 40px 20px;
    text-align: center;
    background-color: #e9ecef; /* Cor de fundo para a seção Home */
}

.aqua-info {
    padding: 40px 20px;
    text-align: center;
    background-color: #d8e2dc; /* Cor de fundo para a seção Aqua */
}

.infos-info {
    padding: 40px 20px;
    text-align: center;
    background-color: #dee2e6; /* Cor de fundo para a seção Infos */
}

.home-text,
.aqua-info-text,
.infos-info-text {
    margin-bottom: 40px;
}

.home-text p,
.aqua-info-text p,
.infos-info-text p {
    margin-bottom: 20px;
}

.titulo1,
.titulo-aqua,
.titulo-info {
    color: #007bff; /* Cor dos títulos das seções */
}

.btn {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}
/* Estilos para o cabeçalho */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


